@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* color pallte 1 */

     --c-p1-primary: #16423C;
     --c-p1-ps: #6A9C89;
     --c-p1-ss: #C4DAD2;
     --c-p1-sec: #E9EFEC;

    /* color pallet dark */

     --c-p2-primary: #1A3636;
     --c-p2-ps: #40534C;
     --c-p2-ss: #677D6A;
     --c-p2-sec: #D6BD98;

    /* font sizes */

    /* Headings */
     --f-s-h1: 6rem;
     --f-s-h2: 4.5rem;
     --f-s-h3: 3.75rem;
     --f-s-h4: 3rem;
     --f-s-h5: 2.25rem;

    /* List */
     -f-s-ul: 1.25rem;
     --f-s-li: 1.25rem;

    /* paragraph & nav */
     --f-s-p: 1.5rem;
     --f-s-nav: 1.5rem;

    /* span */
     --f-s-span: 1rem;

    /* chat list font */
    --f-s-cl: 2rem;
    --f-s-us: 0.8rem;

    /* Paddings */
     --p-main-left: 10vw;
     --p-main-right: 10vw;
     --p-main-top: 5rem;
     --p-main-bottom: 5rem;

     --p-ts-top: 1.2rem;
     --p-ts-bottom: 1.2rem;
     --p-ts-left: 0.8vw;
     --p-ts-right: 0.8vw;

    /* margins */
     --m-main-left: 10vw;
     --m-main-right: 10vw;
     --m-main-top: 5rem;
     --m-main-bottom: 5rem;

     --m-ts-top: 1.2rem;
     --m-ts-bottom: 1.2rem;
     --m-ts-left: 0.8vw;
     --m-ts-right: 0.8vw;

     -m-ns-left: 1.5rem;

    /* Font Family */

    --f-f-primary: "Roboto Condensed", sans-serif;
    --f-f-secondary: "Raleway", system-ui;

}

.userlist-main-sec {
    font-family: var(--f-f-secondary);
    /* background-color: var(--c-p1-sec); */
    color: var(--c-p1-sec);
    background-color: rgba(65, 65, 65, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-left: 1.45vw;
    padding: 1.2rem 2vw;
    width: 25vw;
}
.chat-a-icon {
    display: flex;
    align-items: center;
    gap: 10vw;
    margin-top: 1.2rem;
}
.icon-container {
    width: 2vw;
    height: 2rem;
    padding: 0.2rem 0.2vw;
    background-color: var(--c-p1-sec);
    border-radius: 5px;
}
.cai-ulb-sep {
    margin-top: 0.8rem;
}
.user-list-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: var(--c-p1-sec);
    font-weight: 600;
    margin: 2rem 0vw;
    cursor: pointer;
    padding: 0.4rem 0.4vw;
    text-wrap: nowrap;
    overflow-x: hidden;
}
.user-list-li:hover{
    background-color: rgba(55, 55, 55, 0.5);
}
.img-name-c {
    display: flex;
    align-items: center;
}
.user-p-img {
    height: 3rem;
    width: 3vw;
    border-radius: 50%;
    margin-right: 1.2vw;
}
.user-chat-name {
    font-size: var(--f-s-span);
}
.time-stamp-msg {
    font-size: var(--f-s-us);
    font-weight: 400;
    margin-left: 5vw;
}